body,
body *,
html {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;

  color: white;

  background-image: url(../Images/wallpaper.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  border: 1px solid white;
  border-radius: 4px;
  padding: 10px;
  background: none;
  color: white;
  cursor: pointer;
}

.search {
  display: flex;
  justify-content: flex-end;
}

input {
  width: 200px;
  margin: 10px;
  text-indent: 40px;
  padding: 5px;
  border: none;
  color: white;
  background: none;
  border-bottom: 1px solid white;
  outline: none;
  font-size: 20px;
}

::placeholder {
  background-image: url(../Images/search-line.png);
  background-repeat: no-repeat;
  background-position: 10px center;
  opacity: .45;
}

.main {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -35%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.temp {
  font-size: 3em;
  padding: 5px;
}

.description {
  padding-bottom: 10px;
  font-size: 20px;
}

.hiLo {
  display: flex;
  gap: 25px;
}

.forecastContainer {
  margin-top: auto;
  padding: 10px 25px;
}

.forecastImg {
  width: 200px;
  padding-bottom: 5px;
}

.forecast {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
}

.forecast > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 90px;
  border: 1px solid;
}