body,
html {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  overflow: hidden;

  color: white;

  background-image: url(../Images/wallpaper.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  border: 1px solid white;
  border-radius: 4px;
  padding: 10px;
  background: none;
  color: white;
  cursor: pointer;
}

.search {
  display: flex;
  justify-content: flex-end;
}

input {
  width: 200px;
  margin: 10px;
  text-indent: 40px;
  padding: 5px;
  border: none;
  color: white;
  background: none;
  border-bottom: 1px solid white;
  outline: none;
  font-size: 20px;
}

::placeholder {
  background-image: url(../Images/search-line.png);
  background-repeat: no-repeat;
  background-position: 10px center;
  opacity: .45;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}